</main>

<footer>
    <div class="logo">
        <img src="{{ asset('assets/img/logo.png') }}" alt="logo du jeu" >
    </div>
    <div>
        <span class="copyright">réaliser par mika</span>
    </div>
    <div class="espaceAdmin">
        <a href="{{ path('admin') }}">Espace Administrateur</a>
    </div>



</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>