{% extends 'base/base_admin.html.twig' %}
{% block title 'gérer les personnages'%}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le personnages</h1>
        {{ form_start(formPersoView) }}
        {{ form_end(formPersoView) }}
    </div>


{% endblock %}