{% extends 'base/base_admin.html.twig' %}
{% block title 'gérer les jeux'%}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le jeux</h1>
{#        "form_start" debut du formulaire#}
        {{ form_start(formJeuView) }}
{#        "form_end" fin du formulaire#}
        {{ form_end(formJeuView) }}
    </div>
{% endblock %}